.sidebar {
    align-self: center;
    margin-left: 25px;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 225px;
    height: 765px;
    border-radius: 5px;
    opacity: 0.9;

    padding: 15px;

    background-color: #fff;
}

.stickerEdit {
    display: grid;
    grid-template-rows: auto 1fr auto auto;
    height: 50%;
    grid-row-gap: 30px;
}
.colorBlock {
    display: grid;

    height: 80%;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    grid-row-gap: 5px;
}
.textEditSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.textSectionTitle{
    font-size: 16px;
    color: var(--controls-color);
}

.textColorSection {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
